.completed{
    text-decoration: line-through;
}

.task{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-between;
    background: #a5a800;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 6vw;
    font-size: 25px;
}

p{
    display: flex;
    align-items: center;
}

.check{
    display: flex;
    align-items: center;
}